.bg {
  background-image: url("../../assets/5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
}
.container {
  display: flex;
  margin: 0 10% 0 10%;
}

.article {
  width: 70%;
}

.list-tag {
  width: 27%;
  padding: 10px;
  height: 80vh;
  position: sticky;
  top: 0;
}

.popular-tag {
  padding: 20px;
  border: 1px solid #f69662;
  border-radius: 20px;
  background: #ccc8c51c;
  top: 100px;
  width: 330px;
}
.popular-tag p b {
  font-size: 18px;
  text-align: center;
}

.point {
  display: flex;
  flex-wrap: wrap;
}
mat-card {
  min-height: 100px;
}
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: #f69662;
}
#banner {
  width: 100%;
  height: calc(100vh - 70px);
  background-image: url("../../assets/background.jpg");
  background-repeat: no-repeat;
  background-position-y: 30%;
  background-size: cover;
  display: table;
}
.cented {
  display: table-cell;
  vertical-align: middle;
}
#banner h2 {
  font-family: "Dancing Script", cursive;
  font-size: 80px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-shadow: 2px 2px 8px #111;
  text-transform: capitalize;
  line-height: 100px;
}
#banner h3 {
  font-family: "Pacifico", cursive;
  font-size: 24px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 8px #111;
  font-style: italic;
  text-transform: capitalize;
  margin-top: 40px;
}

@media only screen and (max-width:420px){
  #banner h2 {
    font-size: 25px;
    line-height: 80px;
  }
  #banner h3 {
    font-size: 15px;
  }
  #banner{
    background-position-y: 0%;
    background-size: contain;
    height: calc(100vh - 70px);
  }
  .container {
    flex-direction: column;
  }
  .article, .list-tag {
    width: 100%;
    height: auto;
  }
  .popular-tag {
    width: 270px;
  }

}

@media only screen and (max-width:380px) {
  .cented {
    width: 100%;
    padding: 0
  }
  .popular-tag {
    width: 250px;
  }
}
